/* ***************** utilities & containers ***************** */

/* ***************** global typography ***************** */

/* ***************** header & footer ***************** */

/* ***************** main content ***************** */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
